


html{
    background-color: #000 !important;
}

.container-fluid{
    padding-bottom: 0 !important;
    background-color: #000;
}


#navbar{
    background-color: #000 !important;
    border-bottom: 2px solid rgba(235, 75, 51, 0.2)!important;
}


.main{
    min-height: 100vh;
    background-color: #000;
  }
/* Footer */

footer{
    margin-bottom: 0 !important;
    background: #111;
    font-family: "Open Sans Condensed", sans-serif;
    height: auto;
    position: absolute;
    bottom: 0;

  }
  

  
  
  .footerMain{
    display: flex;
    color: #fff;
  }
  
  .footerMain .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .box .f-contenido{
    margin: 20px 0 0 0;
    position: relative;
  }
  
  .box .f-contenido:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  
  .box .f-contenido:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  
  .f-left .f-contenido p{
    text-align: justify;
  }
  .f-left .f-contenido .f-redes{
    margin: 20px 0 0 0;
  }
  .f-left .f-contenido .f-redes a{
    padding: 0 2px;
  }
  .f-left .f-contenido .f-redes a i{
    color: #fff;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .f-left .f-contenido .f-redes a i:hover{
    background: #f12020;
  }
  
  .f-middle .f-contenido .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .f-middle .f-contenido .fas:hover{
    background: #f12020;
  }
  .f-middle .f-contenido .texto{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .f-middle .f-contenido .telefono{
    margin: 15px 0;
  }
  
  .f-right form .texto{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .f-right form .msj{
    margin-top: 10px;
  }
  .f-right form input, .f-right form textarea{
    color: #FFF;
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .f-right form input:focus,
  .f-right form textarea:focus{
    outline-color: #3498db;
  }
  .f-right form input{
    height: 35px;
  }
  .f-right form .btnEnviar{
    margin-top: 10px;
  }
  .f-right form .btnEnviar button{
    color: #fff;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .f-right form .btnEnviar button:hover{
    background: #000;
  }


  @media (max-width: 991px) {
    .fa-sign-in-alt {
      display: none !important;
    }

  
    footer{
        position: relative;
        bottom: 0;
    }
    .footerMain{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .box{
      width: 100%;
    }
  
    .f-middle .mapa iframe{
      width: 100%;
      height: 300px;
    }

    
}
  