.login{
    margin: 200px 0;
}

.login h2{
    font-family: 'Eagle Lake', cursive;
    color: #FFD700;
}

.btnIngresar{
    background-color: #f74500;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

#main{
    min-height: 100vh;
}

