h2, h4{
    color: #FFD700;
    font-family: 'Didact Gothic', sans-serif;
}

.pago, label{
    color: #fff;
    text-align: center;
}

#btnConfrimar{
    background-color: #f74500;
    color: #fff;
    font-family: Open Sans Condensed, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 35px;
    padding: 0 2rem;
    text-transform: uppercase;
}
